
.content
{
    padding: 30px;
    margin-top: 480px;
    margin-left: 500px;
}
.card {
  background: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.card-overview{
  justify-content: center;
  gap: 20px;
  background: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);

}
.overview {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.overview-item {
  background-color: #e0e7ff;
  padding: 10px;
  border-radius: 6px;
  font-weight: bold;
}

.overview-item span {
  color: #1e40af;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}
th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f3f4f6;
}

tr.green .grade { color: #10b981; font-weight: bold; }
tr.blue .grade { color: #3b82f6; font-weight: bold; }
tr.yellow .grade { color: #facc15; font-weight: bold; }

.grade-excellent {
    color: #28a745; /* green */
    font-weight: bold;
}

.grade-good {
    color: #007bff; /* blue */
    font-weight: bold;
}

.grade-average {
    color: #ffc107; /* orange */
    font-weight: bold;
}

.grade-low {
    color: #dc3545; /* red */
    font-weight: bold;
}
